body{
    background-color: #f6f5f0;
    color: #74512D;
    font-size: 16px;
}

img{
    width: 90%;
    height: auto;
}

a:hover{
    color: #FEBA17;
}

h1, h2 {
    color: #614428;
    font-family: 'Trebuchet MS', 'Tahoma', sans-serif;
}

h2{
    padding: 5px;
    border-bottom: #614428 dotted;
    display: inline-block;
}

.wrap{
    width: 720px;
    background-color: #F8F4E1;
    padding: 20px;
    margin: 0 auto;
}